@media screen and (max-width: 1920px) {
  .container {
    margin-left:auto;
    margin-right:auto;
    background-color: #eeeeee;
    max-width: calc(var(--container-width) + var(--basic-space) * 2);
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
    max-width: 1920px;
  }
  .wrap-row.card-flex-1 {
  max-width: 400px;
  }
  .h2 {
  font-size: 56px;
  }
  .h4 {
  font-size: 56px;
  }
  .img-item_1, .img-item_2, .img-item_3, .img-item_4, .img-item_5, .img-item_6 {
  font-size: 20%;
  }
  .header {
    max-width: 1920px;
  }
  .wrapper {
    max-width: 1920px;
    min-height: 984px;
  }
  .wrap_footer {
    max-width: 1920px;
  }
  .flex.img-item_2.group-item2 {
  max-width: 1920;
  }
  .wrap-row.card-flex-3 {
    max-width: 1920px;
  }
  .header.py-rem {
  max-width: 1920px;
  }
  .img-item_1 +.img-item_2 +.img-item_3 +.img-item_4 +.img-item_5 +.img-item_6{
  max-width: 400px;
  max-height: 400px;
  }
}
@media screen and (max-width: 1440px) and (max-height: 1557px){
  .container {
    margin-left: 60px;
    margin-right:60px;
    background-color: #eeeeee;
    max-width: calc(var(--container-width) + var(--basic-space) * 2);
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
  }
  .wrap-row.card-flex-1 {
  max-width: 400px;
  max-height: 400px;
  }
  .h2 {
  font-size: 56px;
  }
  .h4 {
  font-size: 56px;
  }
  .img-item_1, .img-item_2, .img-item_3, .img-item_4, .img-item_5, .img-item_6 {
  font-size: 20%;
  max-width: 400px;
  max-height: 400px;
  }
  .header {
    max-width: 1920px;
  }
  .wrapper {
    max-width: 1920px;
  }
  .wrap_footer {
    max-width: 1920px;
  }
  .flex.img-item_2.group-item2 {
  max-width: 1920;
  }
  .wrap-row.card-flex-3 {
    max-width: 1920px;
  }
  .header.py-rem {
  max-width: 1920px;
  }
  .img-item_1 +.img-item_2 +.img-item_3 +.img-item_4 +.img-item_5 +.img-item_6{
  max-width: 400px;
  min-height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    margin: 60px;
    margin-right: 60px;
    background-color: #eeeeee;
    max-width: calc(var(--container-width) + var(--basic-space) * 2);
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
    max-width: 984px;
  }
  .header {
  max-width: 300px;
  }
  .wrap_footer {
    max-width: 1320px;
  }
  .wrapper {
    max-width: 1320px;
  }
}
@media screen and (max-width: 988px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 360px) and (max-height: 300px) {

}

