@media print {
  a {
    display: none;
    color: inherit !important;
  }
  img {
    display: none;
    filter: grayscale(1);
  }
  * {
    color: black !important;
  }
  .h1 {
    font-size: 50px;
  }
  .body {
    max-width: 320px;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  :root {
    --basic-indent: calc(var(--basic-space) * 4);
  }
  .burger,
  .hide_check {
    display: none;
  }
  .header.py-rem {
    transform: none;
    background: unset;
    position: static;
    color: inherit;
    inset: initial;
    flex-direction: row;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .adress {
    display: none;
  }
  .card_item_1
    .card_item_2
    .card_item_3
    .card_item_4
    .card_item_5
    .card_item_6 {
    max-width: 400px;
    min-height: 400px;
  }
  .container {
    max-width: 360px;
  }
  .header.py-rem {
    max-width: 360px;
  }
}
@media (max-width: 1440px) {
  .wrapper {
    display: flex;
    max-width: px;
  }
  .header.py-rem {
    max-width: 360px;
  }
  .card_item_1
    .card_item_2
    .card_item_3
    .card_item_4
    .card_item_5
    .card_item_6 {
    max-width: px;
  }
  .container {
    max-width: px;
  }
  .img-item {
    aspect-ratio: 1/1;
    object-fit: cover;
    min-width: 320px;
  }
}
@media screen and (max-width: 1360px) and (min-width: 360px) {
  .header.container {
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
  }
  .container {
    max-width: 980px;
  }
  .header.py-rem {
    max-width: 980px;
  }
  .wrapper {
    display: flex;
    max-width: 320px;
  }
  .card_item_1
    .card_item_2
    .card_item_3
    .card_item_4
    .card_item_5
    .card_item_6 {
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
  }
  .container {
    max-width: 320px;
  }
  .header.py-rem {
    max-width: 320px;
  }
}
@media screen  and (max-width: 1440px) {
  .wrapper {
    display: flex;
    max-width: 1320px;
  }
  .img-item {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 400px;
    max-width: 400px;
    border-radius: 12px;
    overflow: hidden;
  }
  .container {
    min-width: 320px;
  }
  .header.py-rem {
    max-width: 320px;
  }
  .card_item_1
    .card_item_2
    .card_item_3
    .card_item_4
    .card_item_5
    .card_item_6 {
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
  }
}

@media (max-width: 1720px) {
  .img-item {
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    max-width: 400px;
  }
  .container {
    max-width: 1320px;
  }
  .header.py-rem {
    max-width: 1320px;
  }
}
@media (max-width: 992px) {
  .img-item {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 550px) {
  .img-item {
    grid-template-columns: 100%;
    max-height: calc(var(--item-height) * 2);
    overflow-y: auto;
  }
  .card_item_1
    .card_item_2
    .card_item_3
    .card_item_4
    .card_item_5
    .card_item_6 {
    max-width: 320px;
  }
  .img-item {
    max-width: 320px;
    grid-template-columns: 100%;
    max-height: calc(var(--item-height) * 3);
    overflow-y: auto;
  }
  .container {
    max-width: 320px;
  }
  .header.py-rem {
    max-width: 320px;
  }
}
