:root {
  --container-width: 1340px;
  --basic-space: 1rem;
  margin: 0 auto 0 auto;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  position: relative;
}
html {
  background-color: #f5f5f5;
  line-height: 1.25;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
  font-family: 'Inter';
}
img {
  max-width: 100%;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  display: grid;
}
.s6 {
  background: #dacec6;
  display: flex;
  width: 25px;
  height: 25px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.header__item__header__logo {
  padding-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  margin-bottom: 40px;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}
.header__section__ {
  display: flex;
  align-items: center;
}
.header__item {
  padding-left: 40px;
  align-items: center;
  position: relative;
  display: flex;
}
.wrapper__2 {
  max-width: 1340px;
  position: relative;
  top: -151px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
span {
  border-color: #68513f;
  max-width: 25px;
  max-height: 25px;
  background: #e7ded8;
  display: flex;
  right: 0px;
}
.First-section-1 {
  font-family: 'STSong.woff2';
  font-style: normal;
  font-size: 88px;
  font-weight: 300;
  line-height: 1.43;
  z-index: 1;
  margin-left: 50px;
  width: 510px;
  height: 126px;
  position: relative;
  left: -608px;
  top: 150px;
}
.First-section-2 {
  font-family: 'STSong.woff2';
  font-style: normal;
  font-size: 81px;
  font-weight: 300;
  line-height: 1.55px;
  position: relative;
  z-index: 1;
  top: 162px;
  left: -562px;
}
.First-section-3 {
  font-family: 'Style Script';
  font-style: normal;
  font-weight: 400;
  font-size: 175px;
  line-height: 1.04px;
  color: #68513f;
  z-index: 1;
  top: 337px;
  left: 0px;
  transform: rotate(6deg);
  position: relative;
  top: 419px;
  left: -112px;
}
.p-First-section-4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  top: 236px;
  left: -550px;
}
.card + .button {
  width: 143px;
  height: 45px;
  background: #f1ebe7;
}
.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  aspect-ratio: 19/15;
  max-width: 938px;
  margin: 0;
  background-image: url(../images/crem.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  right: -781px;
  max-width: 938px;
}
button {
  background: #f1ebe7;
  border: 1px solid #dacec6;
  background: #dacec6;
  max-width: 143px;
  max-height: 45px;
  position: relative;
}
.button__button-p1__mx-auto {
  background: #f1ebe7;
  text-decoration: none;
  border: none;
  position: relative;
  top: -172px;
  text-align: center;
}
.cart {
  max-width: 20px;
  max-height: 20px;
  background-color: #e7ded8;
}
.footer {
  margin-top: 127.75px;
  margin-bottom: 62px;
  background-color: #e7ded8;
  border: red 1px solid;
}
.card-footer + .card-footer + .card-footer {
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 14px;
  font-family: 'STSong';
  font-size: 65px;
  font-style: Regular;
}
.title__span {
  font-size: 2rem;
}
.description {
  font-size: 14px;
  line-height: 140%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 127.77px;
}
.head-cream-1 {
  position: relative;
  z-index: -1;
}
.cart__title {
  margin-left: 396px;
  margin-right: 395px;
}
.card__1 {
  position: relative;
  right: 464px;
  top: 150px;
  font-family: 'STSong';
  font-style: Regular;
  font-size: 88px;
}
.card__2 {
  position: relative;
  right: 508px;
  top: 200px;
}
.card__3 {
  right: 118px;
  position: relative;
}
.card__Scincare-mx-auto {
  text-align: center;
  position: relative;
  margin-top: 244px;
  top: -3px;
}
.title {
  font-family: 'STSong';
  font-weight: 300;
}
.title__style__script {
  font-family: 'Style Script';
  font-style: normal;
  font-size: 137px;
  font-weight: 400;
  color: #68513f;
  line-height: 1.22px;
  transform: rotate(-5.08deg);
  position: relative;
  top: 46.77px;
}
.description {
  margin-bottom: 332px;
  position: relative;
}
.card__Scincare__1-mx-auto {
  margin-bottom: 240px;
  margin-top: 47px;
  text-align: center;
}
.s6 {
  background-color: #dacec6;
  width: 25px;
  height: 25px;
}
.two-section {
  margin-top: 252px;
}
.wrap__2 {
  max-width: 1340px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 240px;
}
.two-section {
  background-image: url(../images/IMAGE1340.jpg);
  width: 100vw;
  aspect-ratio: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  height: 100vh;
  top: -343px;
}
.two-section-h1 {
  font-family: 'Style Script';
  font-weight: 400;
  font-size: 137px;
  text-align: center;
  color: #68513f;
  position: relative;
  top: 1245px;
}
.two-section-h2 {
  font-family: 'STSong';
  text-align: center;
  font-weight: 300;
  font-size: 65px;
  position: relative;
  top: 1250px;
}
.Im1 {
position: relative;
top: -779px;
left: 690px;
}
.Im2 {
position: relative;
top: -958;
left: -491;
}
.Im3 {
position: relative;
top: -593px;
left: 575px;
}
.Im4 {
position: relative;
top: -197px;
left: -92px;
}
.Im5 {
position: relative;
top: -641px;
left: -1289px;
}
.card_4 {
max-width: 325px;
max-height: 482px;
margin-left: 59px;
}
.card_5 {
  max-width: 325px;
  max-height: 482px;
}
.card_6 {
  max-width: 325px;
  max-height: 482px;
}
.card_7 {
  max-width: 325px;
  max-height: 482px;
  margin-right: 60px;
}
.wrapper__3 {
display: flex;
}
.card__8 {

}