.header {
  position: relative;
}
body {
  display: block;
  position: relative;
}
.bg-blue {
  background-color: #34547a;
}
.text-button {
  background-color: #34547a;
  position: relative;
}
text {
  background-color: white;
}
.nav {
  position: relative;
}
html {
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.64;
  color: #252525;
  position: relative;
  max-width: 1110px;
}
a:first-child {
  color: #34547a;
  position: relative;
}
.body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.2;
  background-color: #eeeff1;
}
.nav-link1 {
  padding-top: px;
  padding-left: 24px;
}
.nav-link2 {
  padding-top: px;
  padding-left: 24px;
  display: block;
}
.nav-link3 {
  padding-top: px;
  padding-left: 24px;
  display: block;
}
.nav-link4 {
  padding-top: px;
  padding-left: 24px;
  display: block;
}
.nav-link5 {
  padding-top: px;
  display: block;
  padding-left: px;
}

/* -----------------------------Desing layout------------------------------------------------------------------------ */
:root {
  --color--grey: #eeeff1;
  --color--blue: #34547a;
}
.bg-blue {
  background-color: #34547a;
  box-sizing: border-box;
  color: #eeeff1;
  display: block;
  font-size: 16px;
  font-family: 'Roboto' sans-serif;
  position: relative;
}
.button {
  border: none;
  position: relative;
}
.bg-blue {
  background-color: var(--color-blue);
  color: white;
}
.text-button {
  text-align: center;
  position: relative;
  float: right;
}
.blocks {
  display: inline-block;
  position: relative;
}
.mx-auto {
  margin-left: 0;
  margin-right: 0;
}

.bg-blue {
  background-color: var(--color-blue);
  color: white;
  position: relative;
}
/*--------------------------------------------------------------section-1--------------------------------------------------------*/
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
}
/*-------------------------------------------------------------h1---------------------------------------------------------------*/
.main-title-1 {
  font-style: inherit;
  vertical-align: inherit;
  font-size: 48px;
  max-width: 541px;
  margin-bottom: 60px;
  margin-top: 151px;
  position: relative;
}
.section-title____1 {
  margin-top: 50px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.description {
  max-width: 540px;
  margin-bottom: 65px;
  position: relative;
}
.description-2 + .description-3 {
  background-color: #34547a;
  position: relative;
}
.first-section {
  background-color: #eeeff1;
  position: relative;
  max-width: 1110px;
}
.blocks__card {
  display: inline-block;
  position: relative;
  float: left;
  padding-left: 50px;
}
.mx-auto2 {
  max-width: 540px;
  position: relative;
}
.About-section {
  max-width: px;
  position: relative;
  background-color: #ffffff;
}
.section-eeeff1 {
  background-color: #eeeff1;
}
.section-title4 {
  margin-top: 112px;
  position: relative;
  max-width: 1110px;
}
.text-footer {
  background-color: #34547a;
  vertical-align: inherit;
  position: relative;
}
.wrapper .mx-auto2 {
  background-color: #34547a;
  position: relative;
}
.vidio-block-section {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  position: relative;
}
.section {
  background-color: #34547a;
  position: relative;
  max-width: 1110px;
}
.lorem-video {
  margin-bottom: 57px;
  position: relative;
}
.video {
  max-width: 1110px;
  position: relative;
  text-align: center;
}
.text-about {
  text-align: center;
  position: relative;
}
.mb-5 {
  padding-left: 0;
  padding-right: 0;
  max-width: 1110px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.wrapper {
  background-color: #eeeff1;
  max-width: 1110px;
}

.wrap__section__2 {
  text-align: center;
  background-color: #ffffff;
  padding-top: 112px;
  padding-bottom: 100px;
  max-width: 1110px;
}
.section-block-two {
  color: #34547a;
  max-width: 1110px;
}
.navigation {
  padding-top: 79px;
}
.wrap__section__card_blocks_ {
  background: #34547a;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1110px;
  display: -webkit-inline-box;
  width: 1110px;
}
.wrap-1-section-1 {
  background-color: #eeeff1;
  max-width: 540px;
  padding-top: 151px;
}
.vidio .player {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: #eeeff1;
}
.wrapper {
  background-color: #eeeff1;
}
.body {
  background-color: #ffffff;
}
.text-about___1 {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.section-block-two {
  max-width: px;
}
.How_ {
  max-width: 540px;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}
.footer___1 {
  background-color: #34547a;
  max-width: 1110px;
}
