.wrapper {
  clear: both;
}

.card {
  text-align: center;
  width: 200px;
  height: 200px;
  background: #fc8f8f;
  color: #e6e6e6;;
  font-size: 64px;
}

body {
  background: #C4C4C4;
}
.clearfix {
  clear: both;
}

.card.small {
  width: 100px;
  height: 100px;
  box-align: center;
  background: #fc8f8f;
  color:#e6e6e6;
  font-size: 36px;
  clear: both;
}
