@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 auto;
    margin-right: 0 auto;
    background-color: #eeeeee;
    max-width: calc(var(--container-width) + var(--basic-space) * 2);
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
    max-width: 800px;
    border: red 1px solid;
  }
  .header {
    max-width: 800px;
  }
  .wrapper {
    max-width: 400px;
  }
  .wrap_footer {
    max-width: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    margin: 0 auto;
    margin-right: 0 auto;
    background-color: #eeeeee;
    max-width: calc(var(--container-width) + var(--basic-space) * 2);
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
    max-width: 600px;
  }
  .header {
    min-width: 300px;
  }
  .wrap_footer {
    max-width: 300px;
  }
  .wrapper {
    max-width: 300px;
  }
}
