body {
  margin: 35px;
  padding: 0px;
  max-width: 400px;
  border: box;
}
.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
table,
td {
  border: 1px solid;
}
td,
th {
  padding: 0.25rem 0.5rem;
}
.float4 {
float: right;
}
.float3 {
float: right;
}
.float2 {
float: right;
}
.float1 {
float: right;
}
.clearfix {
clear: both;
}
