* {
  margin: 0px;
  padding: 1px;

}
.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.table {
border: 1px solid;
border-collapse: separate;
text-indent: initial;
border-spacing: 2pc;

}
td,
th {
padding: 0.25rem 0.5rem;
}

