@font-face {
  font-family: 'StyleScript';
  src: url(./StyleScript-Regular.woff) format(woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'strong';
  src: url(./stsong_1_.woff) format(woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Regylar';
  src: url(./Inter-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'stsong.woff';
  src: url(../font/stsong.woff);
  font-weight: 300;
  font-style: normal;
}
 @font-face {
font-family: 'Montserrat';
src: url(../font/fonts.css);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.25px;
}
@font-face {
font-family: 'Montserrat';
src: url(../font/fonts.css);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.57px;
}
