@import url(../css/basic.css);
:root {
--logo-height: 120px;
}
.container {
  margin: auto;
  margin-right: auto;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  width: 1440px;
  height: 2118px;
}
.container {
width: 130px;
height: 60px;
}
.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
body.gradient.header {
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.bg-gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  color: #ffffff;
  position: relative;
}
.bg-gradient::before,
.bg-gradient::after {
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  content: '';
  display: block;
  height: 20px;
}
.bg-gradient::before {
  top: 100%;
  left: 20px;
  width: calc(100% - 40px);
  transform: translateY(-50%);
  background: #cacadb;
  z-index: -1;
}
.bg-gradient::after {
  top: 100%;
  left: 40px;
  width: calc(100% - 80px);
  z-index: -2;
  background: #e7e7f2;
}

.first-section {
  min-height: 100vh;
  background: url(../images/svg/Symbol.svg) no-repeat center/contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}
button {
  border: none;
 /* background-color: #323264;*/
 background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
 text-fill-color: transparent;
}
.tab-pane.active {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.active {
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 line-height: 37px;
 color: #ffffff;
}
h1 {
  width: 100%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.h4 {
width: 860px;
height: 184px;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.bg-gradient h2 {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 493.33px;
  height: 268px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
.img-card-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px;
  gap: 10px;
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.two-section-py-rem {
color: #24a3ff;
position: relative;
top: 20px;
}
.h4 {
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 700;
 font-size: 38px;
 line-height: 46px;
 background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
 text-fill-color: transparent;
 width: 1140;
 height: 267px;
 flex: none;
 order: 1;
 align-self: stretch;
 flex-grow: 0;
}
.card {
background-color: #f5f5fa;
width: 1320px;
height: 138px;
position: relative;
margin-left: auto;
margin-right: auto;
}

.logos {
margin-top: 50px;
}
.logo-wrap {
  margin-left: auto;
  margin-right: auto;
width: 1720px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(auto, 120px);
overflow: hidden;
}
@media (min-width: 1720px) {
.logo-wrap {
border-radius: 12px;
overflow: hidden;
}
}
@media (max-width: 992px) {
.logo-wrap {
grid-template-columns: repeat(3, 1fr);
}
}
@media (max-width: 550px) {
  .logo-wrap {
  grid-template-columns: 100%;
  height: calc( var(--logo-height) * 6);
  overflow-y: auto;
  }
  .card {
  /*max-width: 360px;*/
  grid-template-columns: 100%;
  height: calc( var(--logo-height) * 6);
  overflow-y: auto;
  }
  }
.logo-item {
padding: 10px;
height: var(--logo-height);
display: flex;
align-items: center;
justify-content: center;
}
.logo-item img {
min-height: 100%;

}
.logo-item.bg-1{
  background: #1c4280;
}
.logo-item.bg-2{
background: #143646;
}
.logo-item.bg-3{
background: #f48b30;
}
.logo-item.bg-4{
background: #9e4dc3;
}
.logo-item.bg-5{
background: #fd9339;
}
.logo-item.bg-6{
background: #e2e2e4;
}
.logo-item.bg-7{
background: #c71c36;
}
.logo-item.bg-8{
background: #dcf3f9;
}
.logo-item.bg-9{
background: #282240;
}
.logo-item.bg-10{
  background: #282240;
}
.logo-item.bg-11{
background: #1d4568;
}
.logo-item.bg-12{
background: #000000;
}
.adress {
  display: none;
}
.wrap_footer1 {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 511px;
  max-width: 1440px;
  max-height: 79px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5fa;
}
.wrap_footer2 {
width: 400px;
}
text {
  position: relative;
  bottom: 62px;
  left: 755px;
}
.span-1 {
background-color: #b3b3ba;
width: 6px;
height: 6px;
display: inline-block;
}
.footer.py-rem {
display: flex;
}
.card-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
width: 1320px;
height: 344px;
}